body{
    background-color: green;
    ul {
        list-style-type: none;
    }

    li a {
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: gray;
    }
}


#HomeButton {
    position: absolute;
    right: 413px;
    top: 16px;
}

#ExperienceButton {
    position: absolute;
    right: 283px;
    top: 16px;
}

#ProjectsButton {
    position: absolute;
    right: 216px;
    top: 16px;
}

#ContactButton {
    position: absolute;
    right: 150px;
    top: 16px;
}


#Bio {
    color: white;
    font-family:fantasy;
    position: absolute;
    bottom: 525px;
}


#copyrightfooter{
    position: absolute;
    bottom: 85px;
    right: 755px;
    color: white;
}
