body {
    background-color: green;

    ul {
        list-style-type: none;
    }

    li a {
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
    }

    li a:hover {
        background-color: gray;
    }
}


#HomeButton {
    position: absolute;
    right: 370px;
    top: 16px;
}

#EducationButton {
    position: absolute;
    right: 288px;
    top: 16px;
}

#ProjectsButton {
    position: absolute;
    right: 220px;
    top: 16px;
}


#ContactButton {
    position: absolute;
    right: 150px;
    top: 16px;
}

#jacesolutionheader {
    position: absolute;
    right: 1480px;
    top: 150px;
}

#fhi360header {
    position: absolute;
    right: 1580px;
    top: 355px;
    bottom: 580px;
}

#jace {
    position: absolute;
    bottom: 550px;
    color: white;
}


#fhi360 {
    position: absolute;
    bottom: 349px;
    color: white;
}

#corps {
    position: absolute;
    bottom: 129px;
    color: white;
}


#jacejobheader {
    position: absolute;
    bottom: 615px;
    font-size: 15px;
    left: 191px;
    color: white;
}

#fhi360jobheader {
    position: absolute;
    bottom: 410px;
    font-size: 15px;
    left: 91px;
    color: white;
}

#corpsjobheader {
    position: absolute;
    bottom: 195px;
    font-size: 15px;
    left: 226px;
    color: white;
}


#servicecorpsheader {
    position: absolute;
    bottom: 185px;
    color: black
}

#copyrightfooter {
    position: absolute;
    bottom: 85px;
    right: 755px;
    color: white;
}