body{
    background-color: green;
    ul {
        list-style-type: none;
    }

    li a {
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: gray;
    }
}

#About {
    background-color: aqua;
    position: static;
    right: 75px;
    bottom: 25px;
}


#ExperienceButton {
    position: absolute;
    right: 345px;
    top: 16px;
}

#ProjectsButton {
    position: absolute;
    right: 270px;
    top: 16px;
}

#EducationButton {
    position: absolute;
    right: 176px;
    top: 16px
}

#ContactButton {
    position: absolute;
    right: 96px;
    top: 16px;
}

img {
    position: absolute;
    bottom: 640px;
    right: 750px;
    width: 150px;
    height: 150px;
    border: 0px;
    border-radius: 150px;
}

#Bio {
    color: white;
    font-family:fantasy;
    position: absolute;
    bottom: 525px;
}

#SkillsBio{
    color: white;
    font-family: fantasy;
    position: absolute;
    bottom: 310px;
}

#Aboutheader {
    position: absolute;
    bottom: 615px;
    font-family:cursive
}

#copyrightfooter{
    position: absolute;
    bottom: 85px;
    right: 755px;
    color: white;
}

#Mediaheader {
    position: absolute;
    bottom: 255px;
    font-family:cursive
}

#linkedin{
    position: absolute;
    bottom: 225px;
    width: 50px;
    height: 50px;
}

#github{
    position: absolute;
    bottom: 225px;
    left: 65px;
    width: 50px;
    height: 50px;
}



#Skillsheader {
    position: absolute;
    bottom: 453px;
    font-family: cursive;
}