body{
    background-color: green;
    ul {
        list-style-type: none;
    }

    li a {
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: gray;
    }
}


#HomeButton {
    position: absolute;
    right: 370px;
    top: 16px;
}

#EducationButton {
    position: absolute;
    right: 285px;
    top: 16px;
}

#ExperienceButton {
    position: absolute;
    right: 157px;
    top: 16px;
}


#ContactButton {
    position: absolute;
    right: 90px;
    top: 16px;
}

#filmimg{
    position: absolute;
    right: 710px;
    top: 115px;
}

#todoimg{
    position: absolute;
    top: 290px;
    right: 710px;
}

#Bio {
    color: white;
    font-family:fantasy;
    position: absolute;
    bottom: 525px;
}


#copyrightfooter{
    position: absolute;
    bottom: 85px;
    right: 755px;
    color: white;
}
